
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Customers</h2>

<div class="row">

    <div class="col-md-12 grid=margin stretch-card">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <p class="card-description">
                    List of all users
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    User
                                </th>
                                <th>
                                    First name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Last Login
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face3.jpg" alt="image" />
                                </td>
                                <td>
                                    Lloyd Radebe
                                </td>
                                <td>
                                    radebelloydm@gmail.com
                                </td>
                                <td>
                                    <label class="badge badge-info badge-pill">Student</label>
                                </td>
                                <td>
                                    Apr 12, 2021
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face4.jpg" alt="image" />
                                </td>
                                <td>
                                    Candice Baleni
                                </td>
                                <td>
                                    candicebaleni@yahoo.com
                                </td>
                                <td>
                                    <label class="badge badge-info badge-pill">Student</label>
                                </td>
                                <td>
                                    May 15, 2021
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>