
@{
    ViewBag.Title = "Experts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Experts</h2>

<div class="row">

    <div class="col-md-12 grid=margin stretch-card">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <p class="card-description">
                    List of all users
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    User
                                </th>
                                <th>
                                    First name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Last Login
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face2.jpg" alt="image" />
                                </td>
                                <td>
                                    Safwaan Patel
                                </td>
                                <td>
                                    safupatel68@gmail.com
                                </td>
                                <td>
                                    <label class="badge badge-success badge-pill">Writer</label>
                                </td>
                                <td>
                                    July 1, 2021
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face5.jpg" alt="image" />
                                </td>
                                <td>
                                    Thando Ntshangase
                                </td>
                                <td>
                                    nts.thando@icloud.com
                                </td>
                                <td>
                                    <label class="badge badge-success badge-pill">Writer</label>
                                </td>
                                <td>
                                    May 03, 2021
                                </td>
                            </tr>
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face6.jpg" alt="image" />
                                </td>
                                <td>
                                    Makungu Mvashele
                                </td>
                                <td>
                                    makungu@gmail.com
                                </td>
                                <td>
                                    <label class="badge badge-success badge-pill">Writer</label>
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
